@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', Arial;
    font-weight: bold;
}

.container {
    padding-top: 30px;
    padding-bottom: 40px;
}

.heading {
    font-size: 20px !important;
    font-weight: bold;
}

.heading:hover {
    text-decoration: none;
}